<center><h1><b>CLASS 1 - Data structures<b></h1></center>

<b>Variables</b><br>
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows

In [0]:
#Integer
some_number = 2 #Integer: Integer is just any whole number
#Float
some_decimal_number = 5.2 #Floating Point or Float: a variable with a fractional value. Numbers created using a float variable declaration will have digits on both sides of a decimal point.
some_number2 = 2.0 #Even this is considered as a float since the decimal is specified

In [0]:
#Strings
some_text = 'Hello' #String: A string is usually a bit of text you want to display
some_number_string = '0' #A number inside quotes is still considered a string
double_quote = "Hello" #Strings can be enclosed by either single or double quotes

In [0]:
#Lists (Values are enclosed by []
my_list = [1,2,3,4,'hello','Python', 7.9,8] #List can have any number of values and mixed data types. Lists are mutable and values can be added and removed

In [0]:
#Tuples (Values are enclosed by ()
my_tuple = (1,2,3,4,'Hello','python',7.9,8) #Tuples are similar to lists but they are immutable. i.e you cannot add or remove values from a tuple

In [0]:
#Dictionaries (Have keys and values. Keys and values can be of any data type but keys cannot be repeated
my_dict = {'some key': 'some value', 'key2': 'value2', 'key3': 'value3', 4 : 'Value for 4', 'key for 5': 5}

<b>Question:</b> <br>
    Create a variable of name flower_name and assign rose as its value <br>
    Create a variable of name my_number and assign 5 as its value

In [0]:
#Enter your answers here

<b>Checking data types</b> <br>

In [55]:
type(123)

int

In [56]:
type(12.23)

float

In [57]:
type('hello')

str

In [58]:
type([1,2,3,4,'five'])

list

In [59]:
type({'a': 1, 'b': 'second', 'c': [1,2,3]})

dict

In [60]:
type((1,2,3,4,5,6))

tuple

<b>Print statement</b>

In [61]:
#Print statement
print('Hello world') #Prints hello world
print('Print value of some_number  ==>', some_number) #Prints the variables

Hello world
Print value of some_number  ==> 2

<b>Question:</b> <br>
    print your name using print statement.

In [0]:
#Enter your answer here

<b><h3>Operators </b></h3><br>
<b>Python Arithmetic Operators:</b><br>
Assume variable a holds 10 and variable b holds 20, then −<br>
a + b = 30<br>
a – b = -10<br>
a \* b = 200<br>
b / a = 2<br>
b % a = 0<br>
a \*\* b =10 to the power 20<br>
9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0<br>
<br>
<br>
<b>Python Comparison Operators:</b><br>
Assume variable a holds 10 and variable b holds 20, then −<br>
(a == b) is not true.<br>
(a != b) is true.<br>
(a <> b) is true. This is similar to != operator.<br>
(a > b) is not true.<br>
(a < b) is true.<br>
(a >= b) is not true.<br>
(a <= b) is true.<br>
<br>
<br>
<b>Python Assignment Operators</b><br>
Assume variable a holds 10 and variable b holds 20, then −<br>
c = a + b assigns value of a + b into c<br>
c += a is equivalent to c = c + a<br>
c -= a is equivalent to c = c - a<br>
c *= a is equivalent to c = c * a<br>
c /= a is equivalent to c = c / ac /= a is equivalent to c = c / a<br>
c %= a is equivalent to c = c % a<br>
c \** = a is equivalent to c = c ** a<br>
c //= a is equivalent to c = c // a<br>

<b>Python Logical Operators</b><br>
x in y, here in results in a 1 if x is a member of sequence y.<br>
x not in y, here not in results in a 1 if x is not a member of sequence y.<br>

Python Identity Operators<br>
x is y, here is results in 1 if id(x) equals id(y).<br>
x is not y, here is not results in 1 if id(x) is not equal to id(y).<br>

<b>For more information, please refer:</b> https://www.tutorialspoint.com/python/python_basic_operators.htm

In [63]:
#Operators
print('10 + 10 = ', 10+10)
print('100 - 10 = ', 100-10)
print('10 * 10 = ', 10*10)
print('10 / 5 = ', 10/5)
print('10**2 = ', 10**2) #Prints 10^2 (10 to the power 2)
print('8 % 4 = ', 8%4) # % operator prints the remainder
print('5 // 2 = ', 5//2) # Similar to divide but prints the obtained to the nearest integer

10 + 10 =  20
100 - 10 =  90
10 * 10 =  100
10 / 5 =  2.0
10**2 =  100
8 % 4 =  0
5 // 2 =  2

In [64]:
#Assertion
z = 1
print('z == 1 =>', z==1) # This returns true because z = 1
print('z > 1 =>' , z>1) # Prints false because z is not greater than 1

z == 1 => True
z > 1 => False

<h3><b>Some common inbuilt functions:</b></h3>

In [66]:
#Some common inbuilt functions
print('round(5.222) = ',round(5.222)) #Rounds the value and prints
print('abs(-2) = ',abs(-2)) #Prints absolute value
print('int(5.555) = ',int(5.555)) # Converts value to an integer and prints
print('len("hello") = ', len('hello')) # Prints number of characters in the string
print('max([1,2,3,4,5]) = ', max([1,2,3,4,5])) #Prints largest value of a list or tuple
print('min([1,2,3,4,5]) = ', min([1,2,3,4,5])) #Prints smallest value of list or tuple

round(5.222) =  5
abs(-2) =  2
int(5.555) =  5
len("hello") =  5
max([1,2,3,4,5]) =  5
min([1,2,3,4,5]) =  1

<b>Question:</b> <br>
    print the rounded value of 121.9928381

In [0]:
#Enter your answer here

<h3><b>String manipulation functions:</b></h3>
Strings are a special type of a python class. As objects, in a class, you can call methods on string objects using the .methodName() notation. The string class is available by default in python, so you do not need an import statement to use the object interface to strings.

In [68]:
# go over ? mark after if you are not sure what method does. 
firstVariable = 'Hello World'
print(firstVariable.lower())
print(firstVariable.upper())
print(firstVariable.title())

hello world
HELLO WORLD
Hello World

In [69]:
# To look up what each method does
help(firstVariable.lower)

Help on built-in function lower:

lower(...) method of builtins.str instance
    S.lower() -> str

    Return a copy of the string S converted to lowercase.

In [70]:
a=firstVariable.split(' ')
a #Splits string into a list

['Hello', 'World']

In [71]:
' '.join(a)

'Hello World'

In [74]:
print("0" + "1")

01

In [75]:
"0" * 3

'000'

In [76]:
"Fizz" + "Buzz"

'FizzBuzz'

<b>Question:</b> <br>
    1. Assign the string "1|2|3|4|5" to a variable
    2. Convert the string to ['1', '2', '3', '4', '5']

In [0]:
#Enter your answer here

<h3><b>Getting user input:</b></h3>

In [78]:
user_variable = input('Enter your input here: ') #Asks for input when you execute the program
print('The value you entered is ', user_variable)

Enter your input here: fasd
The value you entered is  fasd

<b>Question:</b> <br>
   Get a value from user and assign it to a variable

In [0]:
#Enter your answer here

<h3><b>Accessing list values and list slicing:</b></h3>

In [38]:
my_list = [1,2,3,4,5,6,'seven','eight',9]
print('Lists elements can be accessed using index')
print(my_list[0]) #Prints first element of list
print(my_list[2]) #Prints third element of lists
print(my_list[1:4]) #Prints second, third and fourth elements of list (list slicing)
my_list.append('adding new value') #Adds a new value as last element of list
print(my_list)
my_list.insert(5, 'Hello class') # Inserts value at 5th position
print(my_list)
my_list.pop(2) #Removes third element in the list
print(my_list)
my_list.remove('Hello class') #Removes a specific element of the list
print(my_list)
my_list.reverse()
print(my_list) #Elements are reversed in the list

Lists elements can be accessed using index
1
3
[2, 3, 4]
[1, 2, 3, 4, 5, 6, 'seven', 'eight', 9, 'adding new value']
[1, 2, 3, 4, 5, 'Hello class', 6, 'seven', 'eight', 9, 'adding new value']
[1, 2, 4, 5, 'Hello class', 6, 'seven', 'eight', 9, 'adding new value']
[1, 2, 4, 5, 6, 'seven', 'eight', 9, 'adding new value']
['adding new value', 9, 'eight', 'seven', 6, 5, 4, 2, 1]

<b>Question:</b> <br>
   Get a value from user and assign it to a variable and print the variable

In [0]:
#Enter your answer here

<h3><b>Accessing values in dictionaries:</b></h3>

In [40]:
my_dict = {'some key': 'some value', 'key2': 'value2', 'key3': 'value3', 4 : 'Value for 4', 'key for 5': 5}
print('Dictionary values can be accessed using index')
print(my_dict['some key']) #Prints value for key "some key"
print(my_dict[4]) #Prints value for key 4
print(my_dict.keys()) #Print all keys of dictionary
print(my_dict.values()) #Print all values of a dictionary

Dictionary values can be accessed using index
some value
Value for 4
dict_keys(['some key', 'key2', 'key3', 4, 'key for 5'])
dict_values(['some value', 'value2', 'value3', 'Value for 4', 5])

<h2><b><center>Logical operators revision</center></b></h2>

<table align='center'>
<tr>
<th>Logical Operator</th>
<th>Description</th>
</tr>
<tr>
    <td>and</td> 
    <td>If both the operands are True then condition becomes True.</td>
</tr>
<tr>
    <td>or</td>
    <td>If any of the two operands are True then condition becomes True.</td>
</tr>
<tr>
    <td>not</td>
    <td>Used to reverse the logical (not False becomes True, not True becomes False)</td>
</tr>
</table>

<h3><b>if else statements:</b></h3>

<b>if Statements</b>

In [79]:
# Notice you have to indent after you start a if statement. 
num = 3
if num == 3: 
    print(num)

# Nothing is outputted because num > 10 is FALSE
num = 3
if num > 10:
    print(num)

num = 3
if num % 3 == 0:
    print("Fizz")

num = 10
if num % 5 == 0:
    print("Buzz")

if True:
    print("This was True")

if False: 
    print("Nothing printed")

3
Fizz
Buzz
This was True

<b>else statements</b><br>
Must be after an if or elif statement. There can be at most one else statement. Will only be executed if all the "if" and "elif" statements above it are False.

In [80]:
"""We will execute what is inside the else statement
because num is not greater than 3
"""
num = 1
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

number is not greater than 3

In [81]:
"""We will execute what is inside the if statement because num > 4"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

In [44]:
num = 3
if num % 2 == 0:
    print("Your integer is even")
else: 
    print("Your integer is odd")

Your integer is odd

<b>if-elif-else combined</b><br>

In [45]:
num = 21
if num > 50:
    print('num is larger than 50')
elif num == 21:
    print('num = 21')
else:
    print('Catchall condition')

num = 21

In [46]:
my_num = 5
if my_num % 2 == 0:
    print("Your number is even")
elif my_num % 2 != 0:
    print("Your number is odd")
else: 
    print("Are you sure your number is an integer?")

Your number is odd

In [47]:
# You can have mulitple elif statements. 
# Remember only the first True statement has its block of code executed. 

dice_value = 1
if dice_value == 1:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 2:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 3:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 4:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 5:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 6:
    print('You rolled a {}. Great job!'.format(dice_value))
else:
    print('None of the conditions above (if elif) were evaluated as True')

You rolled a 1. Great job!

<b>Question</b><br>

1.Assign num to an integer value.<br>
2.Write a series of if, elif, else statements that will print the num you assigned. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [0]:
#Enter your answer here